@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body {
    background-color: #1D232A;
    font-family: 'Open Sans','icones', sans-serif;
    color: #FFFFFF;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    background-color: #15191C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.cabecalho-menu i::before{
    content: '\e904';
    font-size:24px;
}

.cabecalho-logo {
    width: 40px;
}

.cabecalho-notif i::before{
    content: '\e906';
    font-size:24px;
}

.menu-lateral{
    display:flex;
    flex-direction: column;
    background-color: #15191C;
    width: 75vw;
    height: 100vh;

    left: -100vw;
    position: absolute;
    transition: 0.5s;
}

.menu-lateral--active{
    left:0;
    transition: 0.5s;
}

.cabecalho-menu-lateral{
    padding-left: 64px;
    height: 64px;
    display:flex;
    align-items: center;
}

.logo-image {
    align-self: center;
    width: 118px;
    padding: 16px;
}

.menu-inicio {
    border-left: 4px solid white;
    left: 0;
}

.cabecalho-menu-lateral__start::before{
    content: '\e902';
    font-size: 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 24px;
}

.cabecalho-menu-lateral__videos::before{
    content: '\e90e';
    font-size: 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 24px;
}

.cabecalho-menu-lateral__picos::before{
    content: '\e909';
    font-size: 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 24px;
}

.cabecalho-menu-lateral__integ::before{
    content: '\e903';
    font-size: 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 24px;
}

.cabecalho-menu-lateral__tshirts::before{
    content: '\e900';
    font-size: 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 24px;
}

.cabecalho-menu-lateral__pictures::before{
    content: '\e90a';
    font-size: 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 24px;
}

.cabecalho-link{
    color:#95999C
}